/* formcss */
.student-form {
    margin: 0 auto;
    width: 50%;
    font-family: Arial, sans-serif;
  }
  
  .student-form p {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .student-form label {
    display: inline-block;
    width: 100px;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .student-form input[type="text"],
  .student-form input[type="number"] {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  .student-form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 7px 14px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .student-form button:hover {
    background-color: #3e8e41;
  }